@import '@fontsource-variable/tiktok-sans';
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-destructive: #EF4444;
}

@layer base {
    html {
        font-family: "TikTok Sans Variable", sans-serif;
    }
}

button, a {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}