@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-destructive: #EF4444;
}

button, a {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}